html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.active{
  color:#448AFF;
}
.dp1{
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
}
.dp1 a{
  /* padding: 10px; */
  display: block;

}
.dp1:hover{
  display:grid;
}
.dp:hover .dp1{
  display: block;
}
* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
